@media (min-width:0px) and (max-width:1000px){

.burger{
    display: block;
   margin-right: 20px;
    color: white;
}

.navlinksbox{
    display: none;
}



.formobileburger{
   
    position: absolute;
    width: 100%;
    height: 80%;
     margin-top: 70px;
    display: flex;
    left: -100%;
    transition:1s;
      
}

.burgerlist{
 padding: 0%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 padding-top: 170px;
 align-items: center;
 gap:40px;
 background-color:rgba(0, 0, 0, 0.843);
 width: 100%;
 height: 80%;
 position: fixed;
 
  
}


.nohide{
  
   left: 0%;
  
}


.outburger{
    display: none;
    font-size: 35px;
}



.nohide{
  
   display: inline-block;
  
}

.burgerhide{
    display: none;
}















.container2{
    justify-content: center;
  

    
}

.c2box1{
    margin: 10px;
    margin-top: 150px;
    width: 90%;
    height: 80%;
    background-attachment: fixed;
    box-shadow: 0px 0px 0px;
}


.c2box2{
    margin: 10px;
    width: 90%;
    margin-top: 10px;
    text-align: center;
    height: 100px;
}

.button1{
    width: 250px;
}

.c1text{
    font-size: 40px;
    text-align: center;
}
.c1text2{

   display: none;
}

.sc5{
    display: none;
}



}

.formprint2{
    display: none;
    

}



.container3{
    
    margin-top: 500px;
}

